.sponsor_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor_logo::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #fc3f3f;
    bottom: -20px;
    left: 5%;
    transition: width 0.4s ease;
}

.sponsor_logo {
    margin: 20px 0px 30px 0px;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.sponsor_logo:hover {
    transform: scale(1.04);
}

.sponsor_logo:hover::after {
    width: 90%;
}


.star_background {
    position: absolute;
    width: 60px;
}
