.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    width: 100%;
}

.billboard {
    background-color: #FCF8F5;
    border-width: 10px;
    padding: 60px 40px;
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

.billboard::after,
.billboard::before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background-color: #FCF8F5;
}

.billboard::after {
    left: 25%;
}

.billboard::before {
    right: 25%;
}

.sub_textspeaker {
    font-family: "Verdana", monospace;
    font-weight: 300;
    font-size: 15px;
    color: #FCF8F5;
}

.body_textspeaker {
    margin: 0;
    font-family: "Helvetica", monospace;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.sub_textspeakercontent {
    font-family: "Verdana", monospace;
    font-weight: 100;
    font-size: 15px;
    color: #FCF8F5;
}

.faq_header_text {
    font-family: "Formula1", sans-serif;
    font-size: 54px;
    color: #1F1F1F;
}

.faq-panes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}

.faq-image-placeholder {
    width: calc(100% - 40px);
    padding-bottom: calc(100% - 40px);
    background-color: #FCF8F5;
    border-radius: 20px;
    margin: 0 auto 20px;
    position: relative;
}

.faq-pane {
    background-color: #2A2A2A;
    border-radius: 10px;
    padding: 20px;
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
}

.faq-heading {
    border-radius: 16px;
    background-color: #fbf2ef;
}

.faq-category {
    font-size: 20px;
    font-family: "Helvetica", monospace;
    font-weight: 700;
}

.faq-registration {
    background-color: #f5dbd9;
    border-radius: 16px;
}

.faq-registration-icon {
    background-color: #f8b8c4;
    border-radius: 5px;
    padding: 5px;
}

.faq-projects {
    background-color: #dee7e8;
    border-radius: 16px;
}

.faq-projects-icon {
    background-color: #b8daee;
    border-radius: 5px;
    padding: 5px;
}

.faq-info {
    background-color: #deebdc;
    border-radius: 16px;
}

.faq-info-icon {
    background-color: #b8e5cc;
    border-radius: 5px;
    padding: 5px;
}

.faq-other {
    background-color: #f7f0d6;
    border-radius: 16px;
}

.faq-other-icon {
    background-color: #fef4bb;
    border-radius: 5px;
    padding: 5px;
}

.faq-question {
    background: transparent;
    border: none;
}

.faq-question[data-active] {
    background: transparent;
}

.faq-control {
    background-color: #fbf2ef;
    border-radius: 10px;
}