@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Formula1";
    src: local("Formula1"),
        url(./assets/fonts/Formula1-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Formula1";
    font-weight: 900;
    src: local("Formula1"),
        url(./assets/fonts/Formula1-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Formula1-Wide";
    src: local("Formula1-Wide"),
        url(./assets/fonts/Formula1-Wide.otf) format("opentype");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Formula1", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.centered-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flag-button {
    position: absolute;
    text-align: center;
}

.main-road {
    background-image: url("./assets/main road.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 95% auto;
    background-position: center;
}

@keyframes marquee_green {
    0% { transform: translateX(-90%); }
    60% { transform: translateX(70%); }
    100% { transform: translateX(70%); }
}

@keyframes marquee_red {
    0% { transform: translateX(-90%); }
    70% { transform: translateX(70%); }
    100% { transform: translateX(70%); }
}

@keyframes marquee_blue {
    0% { transform: translateX(-90%); }
    100% { transform: translateX(60%); }
}

@keyframes danica {
    0% { transform: translateY(0%); }
    50% { transform: translateY(2%); }
    100% { transform: translateY(0%); }
}

.m_green {
    margin-top: -1%;
    animation: marquee_green 2s ease-out infinite;
}
.m_red {
    margin-top: -1.5%;
    animation: marquee_red 2s ease-out infinite;
}
.m_blue {
    margin-top: -1.5%;
    animation: marquee_blue 10s linear infinite;
}
.m_bumping {
    animation: danica .10s ease-out infinite;
}

.hero_text {
    font-family: "Helvetica", monospace;
    margin-top: 15px;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: #555555;
}
.hero_date {
    font-family: "Helvetica", monospace;
    margin-top: -1.5%;
    margin-bottom: 1.5%;
    font-weight: 400;
    font-size: 30px;
    color: #555555;
}

.sub_text {
    font-family: "Verdana", monospace;
    padding-top: 1.5%;
    font-weight: 300;
    font-size: 15px;
    color: #888888;
}

.register {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 30px; /* Adjust padding for a larger button */
    border-radius: 20px; /* Large border radius */
    border: 2px solid #ff4848; /* Grey outline */
    background-color: transparent; /* Transparent background */
    color: #ff4848; /* Grey text color */
    transition: background-color .3s, color 0.3s; /* Smooth transition for hover effect */
}

.register:hover {
    background-color: #ff4848;
    color: white;
}

.drop_shadow {
    position: absolute;
    font-size: 25px;
    padding: 15px 30px; /* Adjust padding for a larger button */
    border-radius: 20px; /* Large border radius */
    color: red;
    background-color: red;
    border: 2px solid red; /* Red outline */
    z-index: -1;
    transition: transform 0.2s ease-out; /* Smooth transition for movement */
}

.register:hover ~ .drop_shadow {
    transform: translate(5px, 5px); /* Move right and down slightly on hover */
}
