@font-face {
    font-family: "Formula1";
    src: local("Formula1"),
        url(./assets/fonts/Formula1-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Formula1";
    font-weight: 900;
    src: local("Formula1"),
        url(./assets/fonts/Formula1-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Formula1-Wide";
    src: local("Formula1-Wide"),
        url(./assets/fonts/Formula1-Wide.otf) format("opentype");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Formula1", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #a1a1a1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.centered-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flag-button {
    position: absolute;
    text-align: center;
}

.main-road {
    background-image: url("./assets/main road.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 95% auto;
    background-position: center;
}
