@keyframes start-loop {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(110%);
    }
}

@keyframes infinite-loop {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

@keyframes bumping {
    0% { transform: translateY(0%); }
    50% { transform: translateY(1%); }
    100% { transform: translateY(0%); }
}
@keyframes bumping_red {
    0% { transform: translateY(0%); }
    50% { transform: translateY(3%); }
    100% { transform: translateY(0%); }
}

@keyframes swerve-down {
    0% { transform: translateY(0%); }
    50% { transform: translateY(50%); }
    100% { transform: translateY(0%); }
}

@keyframes swerve-up-down {
    0% { transform: translateY(0px); }
    20% { transform: translateY(-30px); }
    50% { transform: translateY(30px); }
    100% { transform: translateY(0px); }
}

.m_green {
    transform: translateX(40%);
}
.animation-green {
    animation: start-loop 2s ease-in 1, infinite-loop 4s cubic-bezier(0,.8,1,.8) infinite;
    animation-delay: 0s, 2s;
}

.m_red {
    margin-top: -75px;
    transform: translateX(40%);
    margin-left: -80px;
}
.animation-red {
    animation: start-loop 2s ease-out 1, infinite-loop 4.5s ease-out infinite;
    animation-delay: 0s, 2s;
}

.m_yellow {
    margin-top: -75px;
    transform: translateX(40%);
    margin-left: -160px;
}
.animation-yellow {
    animation: start-loop 3s ease-in 1, infinite-loop 6s linear infinite;
    animation-delay: 1s, 4s;
}

.m_blue {
    margin-top: -75px;
    transform: translateX(40%);
    margin-left: -240px;
}
.animation-blue {
    animation: start-loop 15s linear 1, infinite-loop 30s linear infinite;
    animation-delay: 0s, 12s;
}


.m_bumping {
    animation: bumping 300ms ease-out infinite;
}
.m_bumping_red {
    animation: bumping 100ms ease-out infinite;
}
.road_curve {
    /*animation: swerve-down 12s linear infinite;*/
}



.m_about {
    animation: marquee_red 6s ease-in-out infinite;
}

.m_about_curve {
    animation: swerve-up-down 4s linear infinite
}

.start_flag {
    transition: transform 300ms ease, opacity 300ms ease;
    transform-origin: bottom left;
}
.start_flag:hover {
    transform: scale(1.05);
    opacity: .95;
}
.start_flag.clicked {
    transform: rotate(90deg);
}


