
@keyframes marquee_green {
    0% { transform: translateX(-60%); }
    70% { transform: translateX(60%); }
    100% { transform: translateX(60%); }
}

@keyframes marquee_red {
    0% { transform: translateX(-65%); }
    70% { transform: translateX(60%); }
    100% { transform: translateX(60%); }
}

@keyframes marquee_blue {
    0% { transform: translateX(-60%); }
    95% { transform: translateX(60%); }
    100% { transform: translateX(60%); }
}

@keyframes danica {
    0% { transform: translateY(0%); }
    50% { transform: translateY(1.5%); }
    100% { transform: translateY(0%); }
}

@keyframes swerve-down {
    0% { transform: translateY(0%); }
    50% { transform: translateY(50%); }
    100% { transform: translateY(0%); }
}


@keyframes swerve-up-down {
    0% { transform: translateY(0px); }
    20% { transform: translateY(-30px); }
    50% { transform: translateY(30px); }
    100% { transform: translateY(0px); }
}

.m_green {
    margin-top: -35px;
    animation: marquee_green 4s ease-out infinite;
}
.m_red {
    margin-top: -47px;
    animation: marquee_red 4s ease-in-out infinite;
}
.m_blue {
    margin-top: -55px;
    animation: marquee_blue 12s linear infinite;
}
.m_bumping {
    animation: danica .10s ease-out infinite;
}
.road_curve {
    /*animation: swerve-down 12s linear infinite;*/
}

.m_about {
    animation: marquee_red 6s ease-in-out infinite;
}

.m_about_curve {
    animation: swerve-up-down 4s linear infinite
}


